body{
    display: flex;
    align-items: center;
    padding: 10px 300px;
}

#foto{
    width: 90%;
    padding: 10px;

}

#foto img{
    width: 100%;
    max-height: 500px;
    
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: ease 0.5s;

}

button:hover{
    background-color: rgb(90, 177, 235);
    color: rgb(255, 255, 255);
}